{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
	<div class="card-content text-center">
		<h2>Review</h2>
		<form method="POST" action=''>
			{% csrf_token %}
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Group ID: <input class="form-control" name="group_id" type="number">
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Review No.: <select class="form-control" name="review_no">
				<option value=1>1</option>
				<option value=2>2</option>
				</select>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Engineering Concepts & Knowledge: <input class="form-control" name="rubric1" type="number">
			</div>
		</div>


		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Interpretation of Problem & Analysis: <input class="form-control" name="rubric2" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Design/Prototype: <input class="form-control" name="rubric3" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Interpretation of Data & Dataset: <input class="form-control" name="rubric4" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Modern Tool Usage: <input class="form-control" name="rubric5" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Social Benefit, Safety Consideration: <input class="form-control" name="rubric6" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Environment friendly: <input class="form-control" name="rubric7" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Ethics: <input class="form-control" name="rubric8" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Team work: <input class="form-control" name="rubric9" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Presentation skills: <input class="form-control" name="rubric10" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Applied Engg & Mgmt principles: <input class="form-control" name="rubric11" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Life long learning: <input class="form-control" name="rubric12" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Professional skills: <input class="form-control" name="rubric13" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-4">
			Innovative approach: <input class="form-control" name="rubric14" type="number">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="form-group col-md-2">
			<button type="submit" class="form-control">Submit</button>
			</div>
		</div>
		</form>
	</div>
    </div>
</div>
{% endblock %}

