{% extends 'base.html' %}

{% block content %}
    <div class="card">
	<div class="card-content">
		<table>
			<tr>
				<th>
					Group No.
				</th>
				<th>
					Review No. 1
				</th>
				<th>
					Review No. 2
				</th>
			</tr>
			{% for group,marks in groups %}
			<tr>
				<td>
					{{group}}
				</td>
				{% for mark in marks%}
				<td>
					{% if mark is not defined %}
					{{mark}}
					{% endif %}
				</td>
				{% endfor %}
			</tr>
		        {% endfor %}
		</table>

	</div>
    </div>
{% endblock %}

