{% extends 'base.html' %}

{% block content %}
  {% for review in reviews %}
    <div class="card">
	<div class="card-content text-center">
			<p>Date/Time: {{review.created_at}}</p>
			<p>Reviewer: {{review.reviewer}}</p>
			<p>Review No.: {{review.review_no}}</p>
			<p>Marks: {{review.marks}}</p> 
		<form class="review{{review.id}}" action="/reviews/update/" method="POST">
			{% csrf_token %}
			<input name="id" value={{review.id}} hidden>
			<div class="row justify-content-center">
			<div class="form-group col-md-4">
			<label class="form-control" for="review_no">Review No.</label>
			<select class="form-control" name="review_no">
				<option value=1>1</option>
				<option value=2>2</option>
			</select>
			</div>
			</div>
			<div class="row justify-content-center">
			<div class="form-group col-md-4">
			<label for="marks" class="form-control">Marks</label>
			<input type="number" name="marks">
			</div>
			</div>
			<button type="submit">Update Report</button>
		</form>
		<form action="/reviews/delete/" method="POST">
                        {% csrf_token %}
                        <input name="id" value={{review.id}} hidden>
                        <button type="submit">Delete Report</button>
                </form>

	</div>
    </div>
    <script>
	function toggle(className, obj) {
	    var $input = $(obj);
	    if ($input.prop('checked')) $(className).hide();
	    else $(className).show();
	}
    </script>
  {% endfor %}
{% endblock %}

