{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VESIT-POMAS</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    {% include 'snippets/css.html' %}
    {% block css %}
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
</head>

  <body class="skin-default-dark fixed-layout">
	{% if user.is_authenticated %}
    {% include 'snippets/nav.html' %}
	{% endif %}
    <div>
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure">Loading..</div>
            </div>
        </div>
      <div id="main-wrapper">
      <div class="page-wrapper">
      <div class="container-fluid">

    {% block body %}
      {# The forum content will go in this 'body' block #}
    {% endblock body %}

          </div>
          </div>
        </div>
{% block js %}
{% endblock js %}
{% block extra_js %}
{% endblock extra_js %}
{% include 'snippets/js.html' %}
  </body>
</html>
