{% extends "base.html" %}
{% load static %}
{% block head_title %}Home{% endblock head_title %}

{% block body %}
<div class="container">
<div class="card text-center">

<h3>The VESIT Project Management System</h3>
<div class="card-body text-center">
{% if user.is_authenticated %}
{% if user.is_student %}
    <a href="/add/group" class="btn btn-success">Add Group</a>
    <a href="/list" class="btn btn-success">View Groups</a>
{% else%}
    <a href="/list" class="btn btn-success">View Groups</a>
{% endif %}
{% if user.is_superuser %}
    <a href="/add/domain" class="btn btn-success">Add Domain</a>
{% endif %}
{% else %}
    <a href="/accounts/login" class="btn btn-success">Login</a>
    <a href="/register/student" class="btn btn-success">Student Registration</a>
    <a href="/register/teacher" class="btn btn-success">Teacher Registration</a>
{% endif %}
</div>
<img class="card-img-top" src="{% static 'assets/images/pomas-home.jpg' %}"></img>
</div>
</div>
{% endblock  %}
